@using NLayer.Core.DTOs

@model List<ProductWithCategoryDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Category</th>
            <th>CreatedDate</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Category.Name</td>
                <td>@item.CreatedDate</td>
                <td><a asp-action="Update" asp-controller="Products" asp-route-id="@item.Id" class="btn btn-warning">Update</a>
                    <a asp-action="Delete" asp-controller="Products" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></td>
            </tr>
        }
    </tbody>
</table>